geopy
geopandas
geopy
scipy
matplotlib
termcolor
glymur
scikit-learn
scikit-image
rasterio==1.2.10
tifffile
opencv-python-headless==4.8.0.74
pandas==1.2.5

tensorboard
pillow
seaborn
albumentations
imgaug
fastai
bc
efficientnet-pytorch
efficientnet_lite_pytorch
efficientnet_lite0_pytorch_model

scikit-image
scikit-learn

numpy==1.20